header {
    width: 100%;
    max-width: 998px;
    margin: 0 auto;
    padding: 0.5% 5%;
    font-family: $main-font;
    text-align: center;
    nav {
        border-bottom: $secondary-color solid thin;
        margin: 0.5% 0;
        font-size: 1.5rem;
        ul {
            @include horizontal-nav
        }
        li {
            border-right: $secondary-color solid thin;
            padding: 2%;
            padding-right: 3.5%;
            &:first-child {
            width:85%;
            text-align: left;
            
            }
            &:last-child {
                display: flex;
                font-size: 0.9rem;
                background-color: $secondary-color;
                color: $primary-color;
                i {
                font-size: 3rem;
            }
            }
        }
        a {
            color: $primary-color;
            text-decoration: none;
            @include hover-lapse;
            &:hover {
                @include buttons-hover
            }
        }
        
    }
    span {
        font-family: $auxiliar-font;
        font-size: 1.5rem;
    }
}